.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 15px;
}

.header__left {
  display: flex;
  align-items: center;
}

input:focus-visible {
  outline: none;
  border-radius: none;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  border: 1px solid rgb(190, 190, 190);
}

.header__input > input {
  flex: 1;
  border: none;
}

.header .header__searchButton {
  width: 50px;
  height: 38px;
  background-color: #f3f1f1;
  color: gray;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 15px;
}

@media (max-width: 515px) {
  .header {
    padding: 5px;
  }
  .header__logo {
    height: 20px;
    margin-left: 10px;
  }
  .header__input {
    height: 20px;
  }
  .header .header__searchButton {
    width: 20px; 
    height: 20px; 
  }
  .header__icon {
    margin-right: 5px;
  }
}
@media (max-width: 423px) {
  .header {
    justify-content: space-around;
  }

  .header__icons {
    display:none;
  }

  .header__input {
    margin: 8px;
  }

  .header .header__searchButton {
    border: 1px solid rgb(190, 190, 190)
  }
}
@media (max-width: 321px) {
  .header__input {
    justify-content: center;
    width: 170px;
    margin: 10px;
  }
}