.mainPage {
  flex: 0.8;
  padding: 20px;
  background-color: rgb(246, 246, 246);
}

.mainPage__videos {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1410px) {
  .mainPage {
    flex: 0.99;
  }
}

@media (max-width: 548px) {
  .mainPage {
    flex: 1;
  }
}
