.videoCard {
  flex: 0.25;
  margin: 0 2px 40px;
}

.videoCard__thumbnail {
  max-width: 270px;
}

.videoCard__info {
  display: flex;
  margin-top: 10px;
  max-width: 310px;
}

.videoCard__text {
  margin-left: 15px;
}

.videoCard__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videoCard__text > p {
  font-size: 12px;
  color: rgb(100, 100, 100);
}

@media (max-width: 1410px) {
  .videoCard__thumbnail {
    max-width: 310px;
  }
}

@media (max-width: 1388px) {
  .videoCard {
    margin-bottom: 20px;
  }
}

@media (max-width: 1371px) {
  .videoCard__thumbnail {
    max-width: 305px;
  }

  .videoCard__info {
    max-width: 305px;
  }
}

@media (max-width: 1352px) {
  .videoCard__thumbnail {
    max-width: 280px;
  }

  .videoCard__info {
    max-width: 280px;
  }
}

@media (max-width: 1252px) {
  .videoCard__thumbnail {
    max-width: 250px;
  }

  .videoCard__info {
    max-width: 250px;
  }

  .videoCard__text {
    margin-left: 10px;
  }

  .videoCard__title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .videoCard__text > p {
    font-size: 10px;
  }
}

@media (max-width: 1132px) {
  .videoCard__thumbnail {
    max-width: 237px;
  }

  .videoCard__info {
    max-width: 237px;
  }
}

@media (max-width: 1090px) {
  .videoCard__thumbnail {
    max-width: 300px;
  }

  .videoCard__info {
    max-width: 300px;
  }
}

@media (max-width: 1028px) {
  .videoCard__thumbnail {
    max-width: 290px;
  }

  .videoCard__info {
    max-width: 290px;
  }
}

@media (max-width: 1000px) {
  .videoCard__thumbnail {
    max-width: 260px;
  }

  .videoCard__info {
    max-width: 250px;
  }
}

@media (max-width: 913px) {
  .videoCard {
    margin-bottom: 10px;
  }

  .videoCard__thumbnail {
    max-width: 230px;
  }

  .videoCard__info {
    max-width: 220px;
  }
}

@media (max-width: 818px) {
  .videoCard {
    flex: 0.5;
    margin: 0 1px 10px;
  }

  .videoCard__thumbnail {
    max-width: 320px;
  }

  .videoCard__info {
    max-width: 310px;
  }
}

@media (max-width: 760px) {
  .videoCard__thumbnail {
    max-width: 300px;
  }

  .videoCard__info {
    max-width: 290px;
  }
}

@media (max-width: 722px) {
  .videoCard__thumbnail {
    max-width: 290px;
  }

  .videoCard__info {
    max-width: 280px;
  }
}

@media (max-width: 701px) {
  .videoCard__thumbnail {
    max-width: 280px;
  }

  .videoCard__info {
    max-width: 270px;
  }
}

@media (max-width: 681px) {
  .videoCard__thumbnail {
    max-width: 270px;
  }

  .videoCard__info {
    max-width: 260px;
  }
}

@media (max-width: 661px) {
  .videoCard__thumbnail {
    max-width: 260px;
  }

  .videoCard__info {
    max-width: 250px;
  }
}

@media (max-width: 641px) {
  .videoCard__thumbnail {
    max-width: 250px;
  }

  .videoCard__info {
    max-width: 240px;
  }
}

@media (max-width: 621px) {
  .videoCard__thumbnail {
    max-width: 240px;
  }

  .videoCard__info {
    max-width: 230px;
  }
}

@media (max-width: 601px) {
  .videoCard__thumbnail {
    max-width: 230px;
  }

  .videoCard__info {
    max-width: 220px;
  }
}

@media (max-width: 581px) {
  .videoCard__thumbnail {
    max-width: 220px;
  }

  .videoCard__info {
    max-width: 210px;
  }
}

@media (max-width: 561px) {
  .videoCard__thumbnail {
    max-width: 210px;
  }

  .videoCard__info {
    max-width: 200px;
  }
}

@media (max-width: 548px) {
  .videoCard__thumbnail {
    max-width: 250px;
  }

  .videoCard__info {
    max-width: 240px;
  }
}

@media (max-width: 545px) {
   .videoCard__thumbnail {
    max-width: 240px;
  }

  .videoCard__info {
    max-width: 230px;
  }
}

@media (max-width: 526px) {
  .videoCard__thumbnail {
   max-width: 230px;
 }

 .videoCard__info {
   max-width: 220px;
 }
}

@media (max-width: 509px) {
  .videoCard__thumbnail {
   max-width: 220px;
 }

 .videoCard__info {
   max-width: 210px;
 }
}

@media (max-width: 487px) {
  .videoCard__thumbnail {
   max-width: 210px;
 }

 .videoCard__info {
   max-width: 200px;
 }
}

@media (max-width: 470px) {
  .videoCard__thumbnail {
    max-width: 320px;
  }

  .videoCard__info {
    max-width: 310px;
  }
}
