.videoContent__info {
  margin: 10px 0 10px;
}


.videoContent_info {
  display: flex;
  align-items: center;
}

.videoContent__name {
  margin-bottom: 15px;
  font-size: 18px;

}

.videoContent__views {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}